# List

==> Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a **comma**. Each of these data can be accessed by calling it's index value.

==> Lists are declared by just equating a variable to **'[ ]'** or list.

In [1]:
a = []
a

[]

In [2]:
b = list()
b

[]

In [3]:
print (type(a))

<class 'list'>

==> One can directly assign the sequence of data to a list x as shown.

In [4]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [5]:
x[0]

'apple'

In [6]:
x[1]

'orange'

In [7]:
x[2]

IndexError: list index out of range

==> Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [8]:
x[-1]

'orange'

==> As you might have already guessed, **x[0] = x[-2], x[1] = x[-1]**. This concept can be extended towards lists with more many elements.

In [9]:
y = ['carrot','potato']

==> Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [10]:
z  = [x,y]
print (z)

[['apple', 'orange'], ['carrot', 'potato']]

==> Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

==> Let us access the data **'apple'** in the above nested list.
First, at index 0 there is a list **['apple','orange']** and at index 1 there is another list **['carrot','potato']**. Hence **z[0]** should give us the first list which contains **'apple'**.

In [11]:
z1 = z[0]
print (z1)

['apple', 'orange']

==> Now observe that **z1** is not at all a nested list thus to access **'apple'**, **z1** should be indexed at **0**.

In [12]:
z1[0]

'apple'

==> Instead of doing the above, In python, you can access **'apple'** by just writing the index values each time side by side.

In [13]:
z[0][0]

'apple'

==> If there was a list inside a list inside a list then you can access the innermost value by executing **z[ ][ ][ ]**.

### Slicing

==> Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

==> Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist **[ a : b ]** where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [14]:
num = [0,1,2,3,4,5,6,7,8,9]

In [15]:
for i in num:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
print (num[0:4])
print (num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

==> You can also slice a parent list with a fixed length or step length.

In [17]:
num[:9:3]

[0, 3, 6]

==> A list can contain a mix of different types of variables:

In [18]:
primes = [2, 3, 5, 7]
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [19]:
planets[-1]

'Neptune'

In [20]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [21]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [22]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [23]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [24]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [25]:
for i in planets[:]:
    print(i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [26]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Built in List Functions

==> To find the length of the list or the number of elements in a list, **len( )** is used.

In [27]:
len(num)

10

==> If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [28]:
min(num)

0

In [29]:
max(num)

9

==> Lists can be concatenated by adding, **'+'** them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [30]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [31]:
[1,2,3,]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

==> There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [32]:
names = ['Earth','Air','Fire','Water']

In [33]:
for i in names:
    print(i)

Earth
Air
Fire
Water

==> To check if 'Fire' and 'RK' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [34]:
'Fire' in names

True

In [35]:
'RK' in names

False

==> In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. 

==> Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [36]:
mlist = ['abc','def','gh','xy','y','mn']

In [37]:
print (max(mlist))
print (min(mlist))

y
abc

==> Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [38]:
nlist = ['1','94','93','1000']

In [39]:
print (max(nlist))
print (min(nlist))

94
1

==> Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

==> But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [40]:
print (max(names, key=len))
print (min(names, key=len))

Earth
Air

==> But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

==> Any other built in function can be used or lambda function (will be discussed later) in place of len.

==> A string can be converted into a list by using the **list()** function.

In [41]:
list('hello')

['h', 'e', 'l', 'l', 'o']

==> **append( )** is used to add a element at the end of the list.

In [42]:
lst = [1,1,4,8,7]

In [43]:
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

==> **count( )** is used to count the number of a particular element that is present in the list.

In [44]:
lst.count(1)

3

==> **append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [45]:
lst1 = [5,4,2,8]

In [46]:
lst.append(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

==> But if nested list is not what is desired then **extend( )** function can be used.

In [47]:
lst.extend(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

==> **index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [48]:
lst.index(1)

0

==> **insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [49]:
lst.insert(5, 'name')
print (lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8]

==> **insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [50]:
lst[5] = 'Python'
print (lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

==> **pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [51]:
lst.pop()

8

==> Index value can be specified to pop a ceratin element corresponding to that index value.

In [52]:
lst.pop(0)

1

In [53]:
lst.pop(6)

[5, 4, 2, 8]

==> **pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [54]:
lst.remove('Python')
print (lst)

[1, 4, 8, 7, 1, 5, 4, 2]

==> Alternative to **remove** function but with using index value is **del**

In [55]:
del lst[1]
print (lst)

[1, 8, 7, 1, 5, 4, 2]

==> The entire elements present in the list can be reversed by using the **reverse()** function.

In [56]:
lst.reverse()
print (lst)

[2, 4, 5, 1, 7, 8, 1]

==> Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

==> Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [57]:
lst

[2, 4, 5, 1, 7, 8, 1]

In [58]:
lst.sort()
print(lst)

[1, 1, 2, 4, 5, 7, 8]

==> For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [59]:
lst.sort(reverse=True)
print (lst)

[8, 7, 5, 4, 2, 1, 1]

==> Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [60]:
names.sort()
print (names)
names.sort(reverse=True)
print (names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

==> To sort based on length **key=len** should be specified as shown.

In [61]:
names.sort(key=len)
print (names)
names.sort(key=len,reverse=True)
print (names)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

In [62]:
print(names)
print(len(names[0]))
print(len(names[1]))
print(len(names[2]))
print(len(names[3]))

['Water', 'Earth', 'Fire', 'Air']
5
5
4
3

### Copying a list

==> Most of the new python programmers commit this mistake. Consider the following,

In [63]:
lista= [2,1,4,3]

In [64]:
listb = lista
print (listb)

[2, 1, 4, 3]

==> Here, We have declared a list, **lista = [2,1,4,3]**. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [65]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [66]:
print (listb)

[2, 1, 4, 9]

==> **listb** has also changed though no operation has been performed on it. This is because you have assigned the same memory space of **lista** to **listb**. So how do fix this?

==> If you recall, in slicing we had seen that **parentlist[a:b]** returns a list from parent list with start index a and end index **b and if  a & b** is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of **lista** to **listb** as **a** variable.

In [67]:
lista = [2,1,4,3]

In [68]:
listb = lista[:]
print (listb)

[2, 1, 4, 3]

In [69]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [70]:
print (listb)

[2, 1, 4, 3]

### List == >> Dictionary

==> Following conversions from list to dictionary will be covered here,

    ==> A. Convert a List to Dictionary with same values
    ==> B. Convert List items as keys in dictionary with enumerated value
    ==> C. Convert two lists to dictionary
    ==> D. Convert a list of tuples to dictionary

#### A. Convert a List to Dictionary with same values

In [71]:
# List of strings
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]

==> Now we want to create a dictionary with all elements in this list as keys. For each key value will be same i.e. 5. Let’s see how to do that i.e.

##### Using Dicitonary comprehension

In [72]:
'''
Converting a list to dictionary with list elements as keys in dictionary
All keys will have same value
''' 
dictOfWords = { i : 5 for i in listOfStr }

In [73]:
dictOfWords

{'hello': 5, 'at': 5, 'test': 5, 'this': 5, 'here': 5, 'now': 5}

##### Using dict.fromKeys()

==> **dict.fromKeys()** accepts a list and default value. It returns a dictionary with items in list as keys. All dictionary items will have same value, that was passed in fromkeys().

==> If no default value was passed in fromKeys() then default value for keys in dictionary will be None.

In [74]:
'''
Converting a list to dictionary with list elements as keys in dictionary
using dict.fromkeys()
''' 
dictOfWords = dict.fromkeys(listOfStr , 1)

In [75]:
dictOfWords

{'hello': 1, 'at': 1, 'test': 1, 'this': 1, 'here': 1, 'now': 1}

#### B. Convert List items as keys in dictionary with enumerated value

In [76]:
# List of strings
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]

==> Let’s create a dictionary from this list with list elements as keys and values as integers from 0 to n-1 (n is size of list) i.e

In [77]:
'''
Converting a list to dictionary with list elements as values in dictionary
and keys are enumerated index starting from 0 i.e. index position of element in list
''' 
dictOfWords = { i : listOfStr[i] for i in range(0, len(listOfStr) ) }

In [78]:
dictOfWords

{0: 'hello', 1: 'at', 2: 'test', 3: 'this', 4: 'here', 5: 'now'}

#### C. Convert two lists to dictionary

In [79]:
# List of strings
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]
    
# List of ints
listOfInt = [56, 23, 43, 97, 43, 102]

==> Let’s create a dictionary with elements of listOfStr as keys and elements of listOfInt as values using **zip()**

==> Zip() accepts a number of iterable objects and returns a list of tuples. Each entry in tuple contains an element from each iterable object.

==> We have passed two lists objects in zip() , so it will return a list of tuples, where each tuple contains an entry from both the lists.

==> Then we created a dictionary object from this list of tuples.

In [80]:
# Create a zip object from two lists
zipbObj = zip(listOfStr, listOfInt)
 
# Create a dictionary from zip object
dictOfWords = dict(zipbObj)

In [81]:
dictOfWords

{'hello': 56, 'at': 23, 'test': 43, 'this': 97, 'here': 43, 'now': 102}

#### D. Convert a list of tuples to dictionary

==> Suppose we have a list of tuples with two columns in each entry i.e.

In [82]:
# List of tuples    
listofTuples = [("Riti" , 11), ("Aadi" , 12), ("Sam" , 13),("John" , 22),("Lucy" , 90)]

==> We can directly pass this list of tuples to dictionary constructor.

In [83]:
# Convert a list of tuple to dictionary
studentsDict = dict(listofTuples)

==> Entries in first column will become the key and entries in second column will the values in the new dictionary. Contents of dictionary will be,

In [84]:
studentsDict

{'Riti': 11, 'Aadi': 12, 'Sam': 13, 'John': 22, 'Lucy': 90}

==> Other way to make list to dictionary

##### Use of setdefault()

==> Here we have used the dictionary method **setdefault()** to convert the first parameter to key and the second to the value of the dictionary. 

==> **setdefault(key, def_value)** function searches for a key and displays its value and creates a new **key** with **def_value** if the key is not present. 

==> Using the **append** function we just added the values to the dictionary.

In [85]:
def Convert(tup, di): 
	for a, b in tup: 
		di.setdefault(a, []).append(b) 
	return di

In [86]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14),("suraj", 20), ("akhil", 25), ("ashish", 30)]

In [87]:
dictionary = {} 
print (Convert(tups, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [88]:
Input = [('A', 1), ('B', 2), ('C', 3)]

In [89]:
dictionary = {} 
print (Convert(Input, dictionary))

{'A': [1], 'B': [2], 'C': [3]}

# List == >> Tuple

#### Using tuple(list_name)

In [90]:
def convert(list): 
    return tuple(list)

In [91]:
list = [1, 2, 3, 4] 
print(convert(list))

(1, 2, 3, 4)

#### A small variation to the above approach is to use a loop inside tuple() .

In [92]:
def convert(list): 
    return tuple(i for i in list)

In [93]:
list = [1, 2, 3, 4] 
print(convert(list))

(1, 2, 3, 4)

# List == >> String

==> Given a list of characters, merge all of them into a string.

#### Method 1 : Traversal of list

In [94]:
def convert(s): 
    # initialization of string to "" 
    new = "" 

    # traverse in the string 
    for x in s: 
        new += x 

    # return string 
    return new

In [95]:
s = ['M','a','r','v','e','l',' ','U','n','i','v','e','r','s','e']
print(convert(s))

Marvel Universe

#### Method 2 : Using join() function

In [96]:
def convert(s): 
    # initialization of string to "" 
    str1 = "" 

    # using join function join the list s by 
    # separating words by str1 
    return(str1.join(s))

In [97]:
s = ['M','a','r','v','e','l',' ','U','n','i','v','e','r','s','e']
print(convert(s))

Marvel Universe

**RAJKUMAR ZALAVADIA - Mo: 7041645834   Email : rajzalavadia50@gmail.com**