# Tuples

==> To define a tuple, A variable is assigned to paranthesis **( )** or **tuple( )**.

In [4]:
tup = ()
tup2 = tuple()

==> Tuples are, like lists, a type of sequence, but they use round parentheses rather than square brackets:

In [2]:
t = (1, 2, 3, 4, 5)
a = ("b", "c", "d", "e")

==> They can contain heterogeneous types like lists:

In [3]:
t = (1, 2.3, 'spam')

In [4]:
for i in t:
    print(i)

1
2.3
spam

==> and also support item access and slicing like lists:

In [5]:
t[1]

2.3

In [6]:
t[:2]

(1, 2.3)

==> The main difference is that they are immutable, like strings:
    
==> We will not go into the details right now of why this is useful, but you should know that these exist as you may encounter them in examples.

==> Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [7]:
xyz = divmod(10,3)
print (xyz)
print (type(xyz))

(3, 1)
<class 'tuple'>

==> Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

==> If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [8]:
27,

(27,)

==> 27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [9]:
2*(27,)

(27, 27)

==> Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [10]:
tup3 = tuple([1,2,3])
print (tup3)
print(type(tup3))
tup4 = tuple('Hello')
print (tup4)
print(type(tup4))

(1, 2, 3)
<class 'tuple'>
('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

==> It follows the same indexing and slicing as Lists.

In [11]:
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

2
('H', 'e', 'l')

## Mapping one tuple to another

In [12]:
(a,b,c)= ('alpha','beta','gamma')

In [13]:
print (a,b,c)

alpha beta gamma

In [14]:
d = tuple('Marvel Universe')
print (d)

('M', 'a', 'r', 'v', 'e', 'l', ' ', 'U', 'n', 'i', 'v', 'e', 'r', 's', 'e')

### Built In Tuple functions

==> **count()** function counts the number of specified element that is present in the tuple.

In [15]:
d.count('a')

1

==> **index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [16]:
d.index('a')

1

# Tuple == >> List

#### Method - 1 : Using list comprehension

In [17]:
MU = [('Marvel', 2), ('Universe', 4)]

In [18]:
# using list comprehension 
out = [item for t in MU for item in t]

In [19]:
# printing output 
print(out)

['Marvel', 2, 'Universe', 4]

#### Method - 2 : Using itertools

In [20]:
import itertools

In [21]:
tuple = [(1, 2), (3, 4), (5, 6)]

In [22]:
# Using itertools 
out = list(itertools.chain(*tuple))

In [23]:
# printing output 
print(out)

[1, 2, 3, 4, 5, 6]

#### Method - 3 : Using iteration

In [24]:
tup = [(1, 2), (3, 4), (5, 6)]

In [25]:
result = [] 
for t in tup: 
    for x in t: 
        result.append(x)

In [26]:
print(result)

[1, 2, 3, 4, 5, 6]

#### Method - 4 : Using sum

In [27]:
tup = [(1, 2), (3, 4), (5, 6)]

In [28]:
# using sum function() 
out = list(sum(tup, ())) 
print(out)

[1, 2, 3, 4, 5, 6]

#### Method - 5 : Using operator and reduce

In [29]:
import operator 
from functools import reduce

In [30]:
tup = [(1, 2), (3, 4), (5, 6)] 

print(list(reduce(operator.concat, tup)))

[1, 2, 3, 4, 5, 6]

#### Method - 6 : Using lambda

In [31]:
tup = [(1, 2), (3, 4), (5, 6)]

In [32]:
# Using map for 0 index 
b = map(lambda x: x[0], tup) 

# Using map for 1 index 
c = map(lambda x: x[1], tup)

In [33]:
# converting to list 
b = list(b) 
c = list(c)

In [34]:
# Combining output 
out = b + c 

print(out)

[1, 3, 5, 2, 4, 6]

# Tuple == >> Dictionary

#### Method - 1 :  tuple as Argument

==> A dictionary object can be constructed using dict function. This function takes a tuple of tuples as argument. Each tuple contains key value pair.

In [35]:
t=((1,'a'), (2,'b'))
dict(t)

{1: 'a', 2: 'b'}

==> If you want to interchange key and value,

In [36]:
t=((1,'a'), (2,'b'))

In [37]:
dict((y, x) for x, y in t)

{'a': 1, 'b': 2}

#### Method - 2 : Using function map()

In [38]:
t = ((1, 'a'),(2, 'b'))

In [39]:
dict(map(reversed, t))

{'a': 1, 'b': 2}

In [40]:
# Using for loop
{y:x for x,y in t}

{'a': 1, 'b': 2}

#### Method - 3 : Using String of list

In [41]:
dict([('hi','goodbye')])

{'hi': 'goodbye'}

#### Method - 4 : Using revresed() function

In [42]:
t = ((1, 'a'), (2, 'b'))

In [43]:
dict(reversed(i) for i in t)

{'a': 1, 'b': 2}

#### Method - 5 : Using Slice() function

In [44]:
dict(i[::-1] for i in t)

{'a': 1, 'b': 2}

# Tuple == >> String

#### Method - 1 = using str.join()

In [45]:
def convertTuple(tup): 
    str = ''.join(tup) 
    return str

In [46]:
tuple = ('M','a','r','v','e','l',' ','U','n','i','v','e','r','s','e')
str = convertTuple(tuple) 
print(str)

Marvel Universe

#### Method - 2 = using reduce() function

In [47]:
import functools 
import operator 

def convertTuple(tup): 
    str = functools.reduce(operator.add, (tup)) 
    return str

In [48]:
tuple = ('M','a','r','v','e','l',' ','U','n','i','v','e','r','s','e')
str = convertTuple(tuple) 
print(str)

Marvel Universe

**RAJKUMAR ZALAVADIA - Mo: 7041645834   Email : rajzalavadia50@gmail.com**